{%load static%}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Temp in {{name}}</title>
</head>
<body>

    <a href="{% url 'home' %}"><input type="submit" value="Voltar" class="btn-back"></a>
    <div class="container-infos">
            <div class="infos">

                <p>{{name}}</p>
                <p class="graus">{{showTemp}}° <img  class="img-cloud" src="{% static '/img/cloud.png' %}"></p>
                <p> Predominantemente {{desc}}</p>

            </div>
    </div>
</body>
</html>